<template>
  <section class="prices">
    <div class="container prices__container">
      <Sidebar class="prices__sidebar" :list="pricesTabs" routeName="prices" />
      <component class="prices__table" :is="$route.params.special"></component>
    </div>
  </section>
</template>

<script>
import Sidebar from "@/components/Sidebar.vue";

let pricesTabs = [
  {
    route: "consult",
    name: "Консультация специалистов",
  },

  {
    route: "bioacoustics",
    name: "Биоакустическая коррекция",
  },

  {
    route: "uzi",
    name: "Прейскурант УЗИ",
  },

  {
    route: "massage",
    name: "Прейскурант массаж",
  },

  {
    route: "procedures",
    name: "Прейскурант услуг процедурного кабинета",
  },

  {
    route: "lor",
    name: "ЛОР-врач",
  },

  {
    route: "surgey",
    name: "Хирург",
  },

  {
    route: "eeg",
    name: "ЭЭГ, видеомониторинг",
  },

  {
    route: "oftalmolog",
    name: "Офтальмолог",
  },

  {
    route: "reference",
    name: "Справки и листки нетрудоспособности",
  },
];

let components = { Sidebar };
pricesTabs.forEach((tab) => {
  components[tab.route] = () => import(`./prices/${tab.route}.vue`);
});

export default {
  data() {
    return {
      pricesTabs,
    };
  },

  components,
};
</script>

<style lang='scss'>
@import "prices";
</style>
