@import '~@/scss/var';

.prices {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__container {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 50px;
  }

  @media (max-width: 800px) {
    &__container {
      padding-right: 10px;
    }
  }

  @media (max-width: 700px) {
    &__container {
      padding: 0px;
      flex-direction: column;
    }

    &__sidebar {
      width: 100%;
    }

    &__table {
      width: 100%;
      margin-right: -1px;
    }
  }

}

.table {
  flex: 1;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  &__headline {
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__massage {
    text-align: center;

    th {
      vertical-align: middle;
    }

    td:first-child {
      color: $lightbluecolor;
    }
  }

  th {
    text-align: left;
    color: $orangecolor;
    vertical-align: top;

    &:last-child {
      text-align: center;
    }
  }


  th,
  td {
    padding: 16px 1.5em;
    border: 1px solid $lightbluecolor;

    @media (max-width: 500px) {
      font-size: 10px;
    }
  }

  td {
    padding-left: 1em;
  }
}