<template>
  <div class="cards">
    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/1.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/2.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/1.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/2.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/1.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/2.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/1.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/2.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/1.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/2.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/1.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>

    <figure class="cards__card">
      <div class="cards__img">
        <img src="@/assets/doctor/2.png" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">Бердникова Анна Гересовна</h5>
        <h5 class="cards__rank">Доктор медицинских наук</h5>
        <h6 class="cards__experience">10 лет стажа</h6>
      </figcaption>
    </figure>
  </div>
</template>