@import "~@/scss/var";

.crew {
  &__headline {
    font-size: 36px;
    flex: 1 0 100%;
    margin-bottom: .9em;

    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (max-width: 500px) {
      padding: 0 10px;
    }
  }

  &__sidebar {
    position: sticky;
    top: 20px;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 1 0;

  &__card {
    flex: 0 1 33%;
    text-align: center;

    &:hover .cards__img::after {
      background-color: $orangecolor;
    }
  }

  $radius: 70px;

  &__img {
    width: 190px;
    border-radius: 0 0 $radius $radius;
    overflow: hidden;
    position: relative;
    margin: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $lightbluecolor;
      height: 190px;
      border-radius: 0 $radius $radius $radius;
      z-index: 0;
      transition: 0.3s;
    }
  }

  &__name {
    font-size: 18px;
    color: $textcolor;
    font-weight: bold;

    @media (max-width: 500px) {
      font-size: 13px;
    }
  }

  &__rank {
    color: $orangecolor;
    text-transform: uppercase;
    font-size: 12px;

    @media (max-width: 500px) {
      font-size: 10px;
    }
  }

  &__experience {
    font-weight: 500;

    @media (max-width: 500px) {
      font-size: 10px;
    }
  }
}

@media (max-width: 700px) {
  .sidebar {
    width: 100%;
    position: static;
  }
}