<template>
  <div class="cards">
    <figure v-for="(card, index) in cards" :key="index" class="cards__card">
      <div class="cards__img">
        <img :src="getImgSrc(card.img)" alt />
      </div>
      <figcaption>
        <h5 class="cards__name">{{card.name}}</h5>
        <h5 class="cards__rank">{{card.rank}}</h5>
        <h5 class="cards__experience">{{card.experience}}</h5>
      </figcaption>
    </figure>
  </div>
</template>

<script>
export default {
  props: ["cards"],

  methods: {
    getImgSrc(img) {
      let icon = require("@/assets/doctor/" + img + ".png");
      let src = icon;
      return src;
    }
  }
};
</script>