<template>
  <section class="crew">
    <div class="container crew__container">
      <h1 class="crew__headline">
        Высококвалифицированные врачи
        <br />
        <b>Первой и высшей категории</b>
      </h1>

      <Sidebar class="crew__sidebar" :list="docTabs" routeName="crew"></Sidebar>

      <!-- <component :is='$route.params.special'></component> -->
      <cards :cards='cards' />

    </div>
  </section>
</template>

<script>
import Sidebar from "@/components/Sidebar.vue";
import cards from './cards.vue';

let components = {Sidebar, cards};

const docTabs = [
  {
    route: 'pediatrist',
    name: 'Педиатр'
  },

  {
    route: 'psychologist',
    name: 'Психолог'
  },

  {
    route: 'psychotherapist',
    name: 'Психотерапевт, психиатр'
  },

  {
    route: 'gastroenterologist',
    name: 'Гастроэнтеролог'
  },

  {
    route: "uzi",
    name: "Врач УЗИ"
  },

  {
    route: "lor",
    name: "ЛОР"
  },

  {
    route: 'endocrinologist',
    name: 'Эндокринолог'
  },

  {
    route: 'urologist',
    name: 'Уролог',

  },

  {
    route: 'gynecologist',
    name: 'Гинеколог'
  },

  {
    route: 'surgey',
    name: 'Хирург'
  },

  {
    route: 'cardiologist',
    name: 'Кардиолог'
  },

  {
    route: 'speech',
    name: 'Логопед'
  },

  {
    route: 'neurologist',
    name: 'Невролог'
  },

  {
    route: 'oculist',
    name: 'Окулист'
  },

  {
    route: 'orthopedist',
    name: 'Ортопед',
  },

  {
    route: 'rheumatologist',
    name: 'Ревматолог'
  },

  {
    route: 'fd',
    name: 'Функциональная диагностика'
  }

];

export default {
  data() {
    return {
      docTabs,
      cards: [],
    };
  },

  methods: {
    async getCards() {
      let cards = await import(`./special/${this.$route.params.special}.js`);
      cards = cards.default;
      this.cards = cards;
    }
  },

  mounted() {
    this.getCards();
  },

  watch: {
    $route() {
      this.getCards();
    }
  },

  computed: {
    
  },

  components
};
</script>

<style lang="scss">
@import 'crew';
</style>