<template>
  <div class="table">
    <div class="table__headline">Биоакустическая коррекция</div>

    <table>
      <tr>
        <th>Биоакустическая коррекция с нейропсихологом</th>
        <td>Астапенкова Галина Александровна</td>
        <th>950</th>
      </tr>

      <tr>
        <th>Курс 12 занятий</th>
        <td>Астапенкова Галина Александровна</td>
        <th>12000</th>
      </tr>

    </table>
  </div>
</template>