<template>
  <div class="table">
    <h1 class="table__headline">Консультация специалистов</h1>
    <table>
    
      <tr>
        <th rowspan="6">Педиатр, первичный прием</th>
        <td>Розов Дмитрий Николаевич</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Бармина Елена Владимировна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Семененко Алеся Сергеевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Герасимова Ольга Николаевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Закирова Наталья Алексеевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Повторный прием</td>
        <th>900</th>
      </tr>

      <tr>
        <th rowspan="6">Невролог</th>
        <td>Захарова Елена Владимировна</td>
        <th>1500</th>
      </tr>

      <tr>
        <td>Никитина Наталья Анатольевна</td>
        <th>2000</th>
      </tr>

      <tr>
        <td>Бердникова Анна Гересовна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Белякова Светлана Васильевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Александрова Любовь Сергеевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Сергеева Анастасия Валерьевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <th rowspan="4">Ортопед</th>
        <td>Иванов Юрий Николаевич</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Кенис Юрий Маркович</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Марасанов Николай Сергеевич</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Ермилова Елена Анатольевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <th rowspan="4">Хирург</th>
        <td>Светлов Владислав Викторович</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Медведев Артем Альбертович</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Бревдо Юрий Феликсович</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Казаков Александр Николаевич</td>
        <th>1000</th>
      </tr>

      <tr>
        <th rowspan="2">Хирург-уролог</th>
        <td>Медведев Артем Альбертович</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Светлов Владислав Викторович</td>
        <th>1000</th>
      </tr>

      <tr>
        <th rowspan="1">Уролог-андролог</th>
        <td>Аврасин Александр Львович</td>
        <th>1100</th>
      </tr>

      <tr>
        <th>Детский кардиолог</th>
        <td>Корнеева Мария Владимировна</td>
        <th>1000</th>
      </tr>

      <tr>
        <th rowspan="3">Детский кардиолог + ЭКГ</th>
        <td>Прием + ЭКГ (Корнеева Мария Владимировна)</td>
        <th>1400</th>
      </tr>

      <tr>
        <td>Прием + ЭКГ с нагрузкой (Корнеева Мария Владимировна)</td>
        <th>1700</th>
      </tr>

      <tr>
        <td>ЭКГ с расшифровкой (Корнеева Мария Владимировна)</td>
        <th>600</th>
      </tr>

      <tr>
        <th rowspan="4">Отоларинголог (ЛОР)</th>
        <td>Лавриенко Татьяна Владимировна</td>
        <th>1200</th>
      </tr>

      <tr>
        <td>Повторный прием</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Нафигулин Руслан Халеулович</td>
        <th>1100</th>
      </tr>
      
      <tr>
        <td>Повторный прием</td>
        <th>900</th>
      </tr>

      <tr>
        <th rowspan="1">Аллерголог-иммунолог</th>
        <td>Бармина Елена Владимировна</td>
        <th>1200</th>
      </tr>

      <tr>
        <th rowspan="3">Гастроэнтеролог</th>
        <td>Семененко Алеся Сергеевна</td>
        <th>1200</th>
      </tr>

      <tr>
        <td>Герасимова Ольга Николаевна </td>
        <th>1200</th>
      </tr>

      <tr>
        <td>- повторный прием</td>
        <th>1000</th>
      </tr>

      <tr>
        <th rowspan="2">Психиатр, психотерапевт</th>
        <td>Мельников Иван Николаевич - проф. осмотр</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>- консультация</td>
        <th>1600</th>
      </tr>

      <tr>
        <th rowspan="2">Гинеколог</th>
        <td>Козлова Наталья Геннадьевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Взятие анализов</td>
        <th>490</th>
      </tr>

      <tr>
        <th rowspan="2">Логопед</th>
        <td>Пискарева Дина Александровна (консультация)</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>-речевая характеристика</td>
        <th>1400</th>
      </tr>

      <tr>
        <th rowspan="2">Психолог</th>
        <td>Астапенкова Галина Александровна - первичная диагностика</td>
        <th>1600</th>
      </tr>

      <tr>
        <td>- нейрозанятие</td>
        <th>900</th>
      </tr>

      <tr>
        <th rowspan="1">Психолог для взрослых</th>
        <td>Палиева Евгения Александровна</td>
        <th>1600</th>
      </tr>

      <tr>
        <th rowspan="1">Ревматолог</th>
        <td>Герасимова Ольга Николаевна</td>
        <th>1600</th>
      </tr>

      <tr>
        <th rowspan="2">Детский эндокринолог</th>
        <td>Смирнова Оксана Витальевна</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>- повторный прием</td>
        <th>900</th>
      </tr>

      <tr>
        <th rowspan="3">Офтальмолог</th>
        <td>Руденко Алла Андреевна</td>
        <th>1200</th>
      </tr>

      <tr>
        <td>Ульянова Ольга Николаевна</td>
        <th>1200</th>
      </tr>

      <tr>
        <td>- повторный прием</td>
        <th>1000</th>
      </tr>
    </table>
  </div>
</template>

<script>
export default {};
</script>

