<template>
  <div class="table">
    <div class="table__headline">ЭЭГ, видеомониторинг</div>

    <table>
      <tr>
        <td>Энцефалография (ЭЭГ)</td>
        <th>1800</th>
      </tr>

      <tr>
        <td>Видеомониторинг ЭЭГ 2 часа</td>
        <th>6000</th>
      </tr>

      <tr>
        <td>Видеомониторинг ЭЭГ 4 часа</td>
        <th>8500</th>
      </tr>

      <tr>
        <td>Видеомониторинг ЭЭГ 9 часов</td>
        <th>14000</th>
      </tr>

      <tr>
        <td>Видеомониторинг ЭЭГ 12 часов</td>
        <th>17500</th>
      </tr>

    </table>
  </div>
</template>