<template>
  <div class="table">
    <h1 class="table__headline">ЛОР-врач</h1>
    <table>
      <tr>
        <td>Взятие мазка из носа на эозинофилы</td>
        <th>300</th>
      </tr>

      <tr>
        <td>Взятие мазка из зева (носа) на грибы</td>
        <th>300</th>
      </tr>

      <tr>
        <td>Гортанное вливание</td>
        <th>400</th>
      </tr>

      <tr>
        <td>Парацентез барабанной перепонки с одной стороны и промывания уха</td>
        <th>700</th>
      </tr>

      <tr>
        <td>Продувание слуховых труб по Политцеру</td>
        <th>300</th>
      </tr>

      <tr>
        <td>Промывание небных миндалин</td>
        <th>400</th>
      </tr>

      <tr>
        <td>Пункция верхнечелюстной пазухи с одной стороны</td>
        <th>900</th>
      </tr>

      <tr>
        <td>Промывание верхнечелюстных пазух с одной стороны через соустье</td>
        <th>600</th>
      </tr>

      <tr>
        <td>Промывание пазух методом перемещения</td>
        <th>600</th>
      </tr>
      <tr>
        <td>Смазывание небных миндалин, носа</td>
        <th>200</th>
      </tr>
      <tr>
        <td>Анестезия слизистой носа</td>
        <th>200</th>
      </tr>
      <tr>
        <td>Туалет уха</td>
        <th>200</th>
      </tr>
      <tr>
        <td>Удаление инородного тела уха или серной пробки с одной стороны</td>
        <th>400</th>
      </tr>
      <tr>
        <td>Удаление инородного тела уха и серной пробки с двух сторон</td>
        <th>600</th>
      </tr>
      <tr>
        <td>Закладывание турунды в наружный слуховой проход</td>
        <th>200</th>
      </tr>
      <tr>
        <td>Катетеризация слуховых труб</td>
        <th>500</th>
      </tr>
      <tr>
        <td>Посев на микрофлору и чувствительность к антибиотикам из зева (носа)</td>
        <th>600</th>
      </tr>
      <tr>
        <td>Пункция верхнечелюстной пазухи</td>
        <th>900</th>
      </tr>
      <tr>
        <td>Вскрытие фурункула наружного слухового прохода</td>
        <th>500</th>
      </tr>
    </table>
  </div>
</template>
