<template>
  <div class="table">
    <h1 class="table__headline">Массаж на дому</h1>
    <table class="table__massage">
      <tr>
        <th colspan="4">Массажист: Юсупова С.К.</th>
      </tr>

      <tr>
        <th rowspan="3">Общий массаж</th>
        <td rowspan="3">30-45 мин.</td>
      </tr>
      <tr>
        <td>0-1 год</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>Старше 1 года</td>
        <th>1200</th>
      </tr>

      <tr>
        <th rowspan="4">Спина</th>
        <td rowspan="4">15-30 мин.</td>
      </tr>
      <tr>
        <td>3-10 лет</td>
        <th>800</th>
      </tr>

      <tr>
        <td>10-12 лет</td>
        <th>850</th>
      </tr>

      <tr>
        <td>12-18 лет</td>
        <th>950</th>
      </tr>

      <tr>
        <th rowspan="4">Шейно-грудной отдел</th>
        <td rowspan="4">15-30 мин.</td>
      </tr>
      <tr>
        <td>3-10 лет</td>
        <th>700</th>
      </tr>

      <tr>
        <td>10-12 лет</td>
        <th>750</th>
      </tr>

      <tr>
        <td>12-18 лет</td>
        <th>800</th>
      </tr>

      <tr>
        <th rowspan="4">Руки/ноги</th>
        <td rowspan="4">15-30 мин.</td>
      </tr>
      <tr>
        <td>3-10 лет</td>
        <th>650</th>
      </tr>

      <tr>
        <td>10-12 лет</td>
        <th>700</th>
      </tr>

      <tr>
        <td>12-18 лет</td>
        <th>750</th>
      </tr>
    </table>
  </div>
</template>