<template>
  <div class="table">
    <div class="table__headline">Офтальмолог</div>
    <table>
      <tr>
        <td>Зондирование слезного канала</td>
        <th>1500</th>
      </tr>
    </table>
  </div>
</template>