<template>
  <div class="table">
    <h1 class="table__headline">Услуги процедурного кабинета</h1>
    <table>
      <tr>
        <td>Венопункция</td>
        <th>90</th>
      </tr>
      <tr>
        <td>Внутримышечная инъекция (без стоимости лекарств)</td>
        <th>75</th>
      </tr>
      <tr>
        <td>Внутривенная инъекция (без стоимости лекарств)</td>
        <th>115</th>
      </tr>
      <tr>
        <td>Внутривенные вливания (без стоимости лекарств)</td>
        <th>350</th>
      </tr>
      <tr>
        <td>Измерение артериального давления</td>
        <th>35</th>
      </tr>
      <tr>
        <td>Забор крови из пальца	</td>
        <th>90</th>
      </tr>

      <tr>
        <td>Забор материала на бак. исследования</td>
        <th>100</th>
      </tr>
    </table>
  </div>
</template>

<script>
export default {};
</script>