<template>
  <div class="table">
    <h1 class="table__headline">Справки</h1>
    <table>
      <tr>
        <td>Справки для посещения детских учреждений</td>
        <th>900</th>
      </tr>

      <!-- <tr>
        <td>Выдача листка нетрудоспособности</td>
        <th>500</th>
      </tr> -->
    </table>
  </div>
</template>

<script>
export default {};
</script>

