<template>
  <div class="table">
    <h1 class="table__headline">Услуги хирурга</h1>

    <table>
      <tr>
        <td>Обведение головки полового члена</td>
        <th>3300</th>
      </tr>
      <tr>
        <td>Лечение баланопостита</td>
        <th>500</th>
      </tr>
      <tr>
        <td>Блокада семенного канатика</td>
        <th>1600</th>
      </tr>
      <tr>
        <td>Фиксация пило-стомы</td>
        <th>750</th>
      </tr>
      <tr>
        <td>Фиксация уретро-стомы</td>
        <th>750</th>
      </tr>
    </table>
  </div>
</template>