<template>
  <div class="table">
    <h1 class="table__headline">Прейскурант УЗИ</h1>
    <table>
      <tr>
        <td>Комплексное исследование органов брюшной полости + МВС (почек, мочевого пузыря)</td>
        <th>1300</th>
      </tr>

      <tr>
        <td>Комплексное исследование органов брюшной полости + желудок</td>
        <th>1100</th>
      </tr>

      <tr>
        <td>УЗИ органов брюшной полости (печени, желчевыводящих путей, поджелудочной железы, селезенки, желудка, кишечника)</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ органов брюшной полости + МВС + ЭХО-КГ</td>
        <th>2000</th>
      </tr>

      <tr>
        <td>УЗИ вилочковой железы</td>
        <th>800</th>
      </tr>

       <tr>
        <td>УЗ-допплерография сосудов шеи</td>
        <th>1100</th>
      </tr>

      <tr>
        <td>УЗ-допплерография сосудов головы</td>
        <th>1100</th>
      </tr>

      <tr>
        <td>Комплекс: УЗ-доплерография сосудов головы и шеи</td>
        <th>2200</th>
      </tr>

      <tr>
        <td>УЗИ холецистография (исследование функции желчного пузыря)</td>
        <th>1200</th>
      </tr>

      <tr>
        <td>УЗИ мочевыделительной системы (почек и надпочечников, мочевого пузыря)</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ головного мозга - Нейросонография (НСГ)</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ глаз (офтальмосканирование) </td>
        <th>900</th>
      </tr>

      <tr>
        <td>УЗИ головного мозга транскраниально старше 1-го года (ТКНСГ)</td>
        <th>900</th>
      </tr>

      <tr>
        <td>УЗИ тазобедренных суставов - 1 сустав</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ тазобедренных суставов - 2 сустава</td>
        <th>1200</th>
      </tr>

      <tr>
        <td>УЗИ сердца - Эхокардиография (ЭХО-КГ)</td>
        <th>1000</th>
      </tr>

      <tr>
        <td>УЗИ щитовидной и паращитовидной желез, зоны лимфоттока</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ молочных желез</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ поверхностных образований кожи, мягких тканей</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ органов малого таза (трансабдоминально - через переднюю брюшную стенку)</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ слюнных желез</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ плевральных полостей</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ фармакопроба для почек</td>
        <th>1400</th>
      </tr>

      <tr>
        <td>УЗИ лимфатических узлов (поверхностных)</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ коленного сустава (каждый сустав)</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ паховой области</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ костно-мышечной системы: плечевой сустав, локтевой сустав, суставы запястья и кисти, голеностопный и суставы стопы - 1 сустав</td>
        <th>800</th>
      </tr>

      <tr>
        <td>УЗИ костно-мышечной системы: плечевой сустав, локтевой сустав, суставы запястья и кисти, голеностопный и суставы стопы - 2 сустава</td>
        <th>1200</th>
      </tr>

      <tr>
        <td>УЗИ позвоночника (один отдел)</td>
        <th>900</th>
      </tr>

      <tr>
        <td>УЗИ комплекс для детей первого года жизни (НСГ, УЗИ органов брюшной полости, почек, тазобедренных суставов, сердца - ЭХО-КГ)</td>
        <th>3300</th>
      </tr>

      <tr>
        <td>УЗИ комплекс для дошкольников (7 лет) и школьников (14-17 лет) (УЗИ щитовидной железы, органов брюшной полости, почек, репродуктивной системы, сердца - ЭХО-КГ)</td>
        <th>3500</th>
      </tr>
    </table>
  </div>
</template>

<script>
export default {};
</script>

