@import '~@/scss/var';
@import '~@/scss/mixin';

.complexes {
  font-size: .625rem;
  
  &__container {
    @include container;
  }

  &__headline {
    font-size: 36px;
    max-width: 70%;
    margin: 1em 0;
  }

  &__table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    // font-size: .625rem;

    td:not(.complexes__table-description),
    th:not(.complexes__table-description) {
      border: 1px solid $lightbluecolor;
      padding: 1.5em;

      @media (max-width: 500px) {
        padding: .6em .9em;
      }
    }

    th {
      font-weight: normal;
    }
  }

  &__complex-name {
    font-size: 2.6em;
    font-weight: bold;
    text-align: center;
  }

  &__price-amount {
    text-align: center;
    color: $orangecolor;
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap;
  }

  &__rub {
    font-size: .5em;
  }
  
  &__table-description {
    border: none;
    color: $orangecolor;
    font-size: 1.8em;
  }

  &__aside-th {
    color: $lightbluecolor;
    white-space: nowrap;
    font-size: 1.6em;
  }

  &__discount-amount {
    color: $orangecolor;
    font-size: 1.6em;
  }

  &__info {
    text-align: center;
    font-size: 1.6em;

    &_style_home {
      color: $orangecolor;
    }
  }

  &__services {
    font-size: 1.6em;
  }

  @media (max-width: 1000px) {
    &__headline {
      max-width: none;
    }

    font-size: .5rem;
  }

  @media (max-width: 850px) {

    &__container {
      padding: 0 10px;
    }
  }

  @media (max-width: 800px) {
    &__vertical-text {
      display: flex;
      flex-direction: row-reverse;
      transform: rotate(180deg);
    }

    &__complex-name {
      writing-mode: vertical-rl;
    }

    &__price-amount {
      writing-mode: vertical-rl;
    }
  }

  @media (max-width: 500px) {
    &__container {
      padding: 0;
    }

    &__headline {
      font-size: 18px;
    }

    &__table-description {
      font-size: 10px;
      padding: 1.2em 1.5em;
    }

    &__complex-name {
      font-size: 11px;
    }

    &__price-amount {
      font-size: 18px;
    }

    &__services {
      font-size: 10px;
      padding: .5em;
    }

    &__discount-amount {
      font-size: 10px;
    }

    &__info {
      font-size: 10px;
    }

    &__aside-th {
      font-size: 10px;
      padding: 2em;
    }
  }
}