<template>
  <section class="complexes">
    <div class="complexes__container">
      <h1 class="complexes__headline">
        Программы комплексного обследования детей
        <b>с рождения до 1 года</b>
      </h1>

      <table class="complexes__table">
        <thead>
          <tr>
            <td
              colspan="2"
              class="complexes__table-description"
            >Возможно составление индивидуальных программ наблюдения, а также начало наблюдения с более позднего возраста ребенка.</td>
            <th>
              <div class="complexes__vertical-text">
                <span class="complexes__complex-name">Оптимальная</span>
                <span class="complexes__price-amount">
                  32 500
                  <span class="complexes__rub">руб.</span>
                </span>
              </div>
            </th>

            <th>
              <div class="complexes__vertical-text">
                <span class="complexes__complex-name">Комфорт</span>
                <br />
                <span class="complexes__price-amount">
                  45 000
                  <span class="complexes__rub">руб.</span>
                </span>
              </div>
            </th>

            <th>
              <div class="complexes__vertical-text">
                <span class="complexes__complex-name">Люкс</span>
                <span class="complexes__price-amount">
                  65 000
                  <span class="complexes__rub">руб.</span>
                </span>
              </div>
            </th>
          </tr>

          <tr>
            <th class="complexes__aside-th">%</th>
            <td class="complexes__services">
              <b>Скидка</b> на все дополнительные услуги центра (в том числе на дому)
            </td>
            <th class="complexes__discount-amount">Скидка 10%</th>
            <th class="complexes__discount-amount">Скидка 15%</th>
            <th class="complexes__discount-amount">Скидка 20%</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th class="complexes__aside-th" rowspan="2">1 месяц</th>
            <td
              class="complexes__services"
            >4 консультации педиатра (еженедельно)</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <td class="complexes__services">Консультации невролога, хирурга, окулиста, комплекс УЗИ</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <th class="complexes__aside-th">2 месяц</th>
            <td class="complexes__services">Консультация педиатра</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <th class="complexes__aside-th">3, 4 месяц</th>
            <td
              class="complexes__services"
            >Консультации педиатра, невролога, ортопеда, клинический анализ крови, общий анализ мочи</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <th class="complexes__aside-th">5 месяц</th>
            <td class="complexes__services">Консультация педиатра</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <th class="complexes__aside-th">6 месяц</th>
            <td
              class="complexes__services"
            >Консультации хирурга, невролога, ортопеда, педиатра, клинический анализ крови, общий анализ мочи</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <th class="complexes__aside-th">7, 8 месяц</th>
            <td class="complexes__services">Консультация педиатра</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <th class="complexes__aside-th">9 месяц</th>
            <td
              class="complexes__services"
            >Консультация педиатра, клинический анализ крови, общий анализ мочи в центре</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <th class="complexes__aside-th">10, 11 месяц</th>
            <td class="complexes__services">Консультация педиатра в центре</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <th class="complexes__aside-th" rowspan="4">1 год</th>
            <td
              class="complexes__services"
            >Консультации педиатра, хирурга, невролога, окулиста, отоларинголога, ортопеда, психиатра, кардиолога + ЭКГ, клинический анализ крови, общий анализ мочи, уровень глюкозы в крови</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info complexes__info_style_home">На дому</td>
          </tr>

          <tr>
            <td class="complexes__services">По показаниям – копрограмма, анализ кала на дисбактериоз</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info">В центре</td>
          </tr>

          <tr>
            <td class="complexes__services">Курс общего массажа на дому (10 процедур)</td>
            <td class="complexes__info">
              <svg-icon name="cancel" />
            </td>
            <td class="complexes__info">
              <svg-icon name="cancel" />
            </td>
            <td class="complexes__info">
              <svg-icon name="tick" />
            </td>
          </tr>
          <tr>
            <td
              class="complexes__services"
            >По показаниям – дополнительная консультация любого специалиста, копрограмма, анализ кала на дисбактериоз</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info">В центре</td>
            <td class="complexes__info">В центре</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
import SvgIcon from "@/components/SvgIcon.vue";

export default {
  components: {
    SvgIcon
  }
};
</script>

<style lang="scss">
@import "complexes";
</style>