<template>
  <section class="about">
    <div class="about__container">
      <div class="about__left-side">
        <h1 class="about__headline">
          Современный медицинский
          <b>центр для детей</b> с новейшим оборудованием
        </h1>
        <p class="about__p">Здесь создана спокойная, уютная обстановка для комфортного пребывания и доверительного отношения маленьких пациентов к врачам</p>
      </div>

      <div class="about__right-side">
        <div class="about__cards">
          <div
            class="card"
          >Консультативная, диагностическая и лечебная помощь детям с рождения до 18 лет</div>
          <div
            class="card"
          >90% врачей нашего Центра работают в Детской областной клинической больнице</div>
          <div class="card">Проведение малых хирургических вмешательств</div>
          <div class="card">Выезд врачей на дом. Взятие анализов на дому. Массаж на дому.</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang='scss'>
@import "~@/scss/var";
@import "~@/scss/mixin";

.about {
  &__container {
    @include container;
    padding-top: 130px;
    display: flex;
  }

  &__left-side {
    width: 50%;
    padding-right: 30px;
    padding-top: 50px;
  }

  &__headline {
    margin-bottom: .5em;

    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__right-side {
    width: 50%;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
      flex: 0 calc(50% - 30px);
      padding: 50px 40px;
      color: white;

      &:nth-of-type(1n) {
        background-image: linear-gradient(to right bottom, #9867a2, #6c6aca);
        border-radius: 0 50px;
      }

      &:nth-of-type(2n) {
        margin-left: 30px;
        border-radius: 50px 0;
        background-image: linear-gradient(to right bottom, #ee7177, #f09176);
      }

      &:nth-of-type(3n) {
        background-image: linear-gradient(to right bottom, #9695e2, #5356f3);
      }

      &:nth-of-type(4n) {
        background-image: linear-gradient(to right bottom, #377fb2, #7ac3d4);
      }

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
  }

  b {
    color: $orangecolor;
  }

  @media (max-width: 1100px) {
    &__container {
      flex-direction: column;
      padding-top: 2.5em;
    }

    &__left-side {
      width: auto;
      padding: 0;
    }

    &__right-side {
      width: auto;
    }

    &__cards {
      .card {
        flex: 0 80%;
        border-radius: 50px !important;
      }
    }

    &__headline {
      font-size: 35px;
    }

    &__p {
      margin-bottom: 28px;
      font-weight: bold;
    }
  }
}
</style>

