<template>
  <section class="contacts">
    <div class="container contacts__container">
      <aside class="contacts__text">
        <h1 class="contacts__headline">Контакты</h1>

        <ul class="contacts__list contacts-list">
          <li class="contacts-list__li contacts-list__li_address">
            <SvgIcon name="outer" />Тверь, Волоколамский пр-т дом 20 корпус 1
          </li>
          <li class="contacts-list__li contacts-list__li_time">
            <SvgIcon name="clock" />Пн-Пт. 8:00 – 20:00
            <br />Сб. 9:00 – 15:00
            <br> Вс. 9:00 – 15:00
          </li>
          <li class="contacts-list__li contacts-list__li_phone">
            <SvgIcon name="phone" />+7 (4822) 32-64-13
            <br />+7 903 807-58-36
          </li>
          <li class="contacts-list__li contacts-list__li_mail">
            <SvgIcon name="mail" />help@dr-pilulkin.ru
          </li>

          <li class="contacts-list__li">
            <a href="/rules.docx">Правила обработки персональных данных</a>
          </li>
        </ul>

        <div class="contacts__social">
          <a href="https://vk.com/pilulkin.tver" target="_blank" class="vk">
            <SvgIcon name="vk" />
          </a>
        </div>
      </aside>

      <aside class="contacts__map">
        <gmap-map
          :center="center"
          :zoom="13"
          :options="{disableDefaultUI: true, styles: styles}"
          style="flex: 1;"
        >
          <gmap-marker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            :clickable="true"
            :draggable="true"
            @click="center=m.position"
          ></gmap-marker>
        </gmap-map>
      </aside>
    </div>
  </section>
</template>
<script>
import Vue from "vue";
import * as VueGoogleMaps from "vue2-google-maps";
Vue.use(VueGoogleMaps, {
  load: {
    key: "AIzaSyBterg1mKoXSDzFCLkg9KWlhvbYtkasUyI",
    libraries: "places" // This is required if you use the Autocomplete plugin
    // OR: libraries: 'places,drawing'
    // OR: libraries: 'places,drawing,visualization'
    // (as you require)
  }
});

import SvgIcon from "@/components/SvgIcon.vue";

export default {
  data() {
    return {
      center: { lat: 56.8384, lng: 35.908722 },
      markers: [
        {
          position: { lat: 56.8384, lng: 35.908722 }
        }
      ],
      styles: [
        {
          featureType: "administrative",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#2980b9"
            }
          ]
        },
        {
          featureType: "landscape",
          elementType: "all",
          stylers: [
            {
              color: "#f2f2f2"
            }
          ]
        },
        {
          featureType: "poi",
          elementType: "all",
          stylers: [
            {
              visibility: "off"
            }
          ]
        },
        {
          featureType: "road",
          elementType: "all",
          stylers: [
            {
              saturation: -100
            },
            {
              lightness: 45
            }
          ]
        },
        {
          featureType: "road.highway",
          elementType: "all",
          stylers: [
            {
              visibility: "simplified"
            }
          ]
        },
        {
          featureType: "road.arterial",
          elementType: "labels.icon",
          stylers: [
            {
              visibility: "off"
            }
          ]
        },
        {
          featureType: "transit",
          elementType: "all",
          stylers: [
            {
              visibility: "off"
            }
          ]
        },
        {
          featureType: "water",
          elementType: "all",
          stylers: [
            {
              color: "#6dd5fa"
            },
            {
              visibility: "on"
            }
          ]
        }
      ]
    };
  },

  components: {
    SvgIcon
  }
};
</script>

<style lang="scss">
@import "~@/scss/var";

.contacts {
  &__headline {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 70px;
  }

  &__text {
    position: relative;
    padding-right: 40px;
  }

  &__container {
    display: flex;
  }

  &__map {
    display: flex;
    border-radius: 40px 0;
    overflow: hidden;
    flex: 0 0 50%;
    margin-left: auto;
    margin-top: 30px;
    min-height: 500px;
  }

  &__social {
    a {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  @media (max-width: 750px) {
    &__headline {
      font-size: 24px;
      margin-bottom: 15px;
    }

    &__container {
      flex-direction: column;
      padding: 0;
    }

    &__text {
      padding-left: 15px;
    }

    &__list {
      margin-bottom: 25px;
    }

    &__map {
      margin: 20px 0  0 0;
      border-radius: 0;
    }

    &__social {

      a {
        position: static;
      }
    }

  }

}

.contacts-list {
  padding-left: 30px;

  &__li {
    position: relative;
    font-weight: 500;

    svg {
      fill: $lightbluecolor;
      right: calc(100% + 10px);
      position: absolute;
      top: 0;
      width: 20px;
    }

    &_address {
      margin-bottom: 25px;
    }

    &_time {
      margin-bottom: 50px;
    }

    &_phone {
      margin-bottom: 25px;

      svg {
      }
    }

    &_mail {
      margin-bottom: 25px;
    }
  }
  

  @media (max-width: 750px) {
    &__li {
      &_address {
        margin-bottom: 10px;
      }

      &_phone {
        margin-bottom: 10px;
      }

      &_time {
        margin-bottom: 20px;
      }
    }
  }
}
</style>