@import '~@/scss/var';
@import '~@/scss/mixin';

.main {
  background: #f9f9f9;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__container {
    @include container;
    display: flex;
    flex: 1 0 100%;
    align-items: stretch;
  }

  &__headline_small {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__list {
    margin-bottom: 2em;
  }

  &__left-side {
    padding-top: 200px;
    min-width: 50%;
  }

  &__right-side {
    min-width: 50%;
    margin-right: calc(-50vw + 650px);
    padding-right: calc(50vw - 650px + 73px);
    display: block;
    $radius: 50px;
    position: relative;

    .slider {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .photo-slide {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0 $radius $radius $radius;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__headline {
    max-width: 500px;
    line-height: 1;
    margin-bottom: 40px;
  }

  &__phone {
    margin-right: 25px;
  }

  &__footer {
    margin-top: auto;
    margin-bottom: 50px;

    .container {
      display: flex;
      align-items: center;
    }

    .social {
      margin-left: auto;
    }
  }

  @media (max-width: 1000px) {
    &__container {
      flex-direction: column;
    }

    &__left-side {
      padding-top: 20px;
      margin-bottom: 30px;
    }

    &__right-side {
      margin-right: 0;
      

      .slider,
      .photo-slide,
      img {
        position: static;
      }
    }


  }

  @media (max-width: 600px) {

    &__container {
      padding: 0 20px;
    }

    &__headline {
      font-size: 40px;
    }
  }

  @media (max-width: 400px) {
    &__headline {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}

.slider {
  position: relative;

  .next,
  .prev {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $textcolor;
    bottom: 160px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 30px;
    transition: 0.3s;

    &:hover {
      background-color: $bluecolor;
    }
  }

  .next {
    right: -30px;
    background-image: url("~@/assets/arrow-point-to-right.svg");
  }

  .prev {
    left: -30px;
    background-image: url("~@/assets/arrow-point-to-left.svg");
  }
}

.counter {
  .current {
    font-size: 52px;
  }

  .of-total {
    font-size: 29px;
    color: $lightbluecolor;
  }

  .progress {
    width: 100px;
    height: 2px;
    background: $lightbluecolor;
    position: relative;

    .bar {
      height: 7px;
      border-radius: 7px;
      background: $textcolor;
      position: absolute;
      top: -3px;
      left: 0;
      transition: 0.3s;
    }
  }
}