<template>
  <section class="main">
    <main>
      <div class="main__container">
        <div class="main__left-side">
          <h1 class="main__headline" v-html="currentHeadlineContent"></h1>

          <ul class="main__list rounded">
            <li v-for="(li, i) in currentLiContent" :key="i">{{ li }}</li>
          </ul>

          <PhoneButton class="main__phone">Звонок в клинику</PhoneButton>
          <h5 class="min__headline main__headline_small">
            * Подробная информация по телефону
          </h5>
        </div>

        <div class="main__right-side">
          <div class="slider">
            <div class="photo-slide">
              <img :src="currentPhoto" alt />
            </div>

            <div class="next" @click="next()"></div>
            <div class="prev" @click="prev()"></div>
          </div>
        </div>
      </div>
    </main>

    <footer class="main__footer">
      <div class="container footer__container">
        <div class="counter" :current="current" :total="total">
          <span class="current">{{ current }}</span>
          <span class="of-total">/ {{ total }}</span>
          <div class="progress">
            <div class="bar" :style="{ width: barWidth }"></div>
          </div>
        </div>

        <div class="social">
          <a href="https://vk.com/pilulkin.tver" target="_blank" class="vk">
            <SvgIcon name="vk" />
          </a>
        </div>
      </div>
    </footer>
  </section>
</template>

<script>
import SvgIcon from "@/components/SvgIcon.vue";
import PhoneButton from "@/components/elements/PhoneButton.vue";

export default {
  data: () => ({
    total: 3,
    current: 1,
    sliderContent: [
      {
        img: "https://images.unsplash.com/photo-1593634804965-0394d1324bc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80",
        headlineContent: "Мы проводим <b>розыгрыш</b> в группе ВКонтакте",
        liContent: [
          "Итоги 10 апреля",
        ],
        key: 1,
      },

      {
        img: "https://img.7ya.ru/pub/img/8841/thinkstockphotos-500465046.jpg",
        headlineContent: "Ежедневный прием <b>врача-педиатра</b>",
        liContent: [
          "Выезд врачей на дом",
          "Все виды анализов на дому",
          "Большой выбор узких специалистов",
        ],
        key: 1,
      },

      {
        img: "https://avatars.mds.yandex.net/get-pdb/1042636/96153ba3-7ffe-4d4c-9d4a-861c8df4f505/s1200?webp=false",
        headlineContent: "Программы наблюдения детей <b>до 1 года</b>",
        liContent: ["Оптимальная", "Комфорт", "Люкс"],
        key: 2,
      },
    ],
  }),

  computed: {
    barWidth() {
      return (this.current / this.total) * 100 + "%";
    },

    currentPhoto() {
      return this.sliderContent[this.current - 1].img;
    },

    currentLiContent() {
      return this.sliderContent[this.current - 1].liContent;
    },

    currentHeadlineContent() {
      return this.sliderContent[this.current - 1].headlineContent;
    },
  },

  methods: {
    openSlide(id) {
      if (id > 0 && id <= this.total) {
        this.current = id;
      }
    },

    next() {
      if (this.current < this.total) ++this.current;
    },

    prev() {
      if (this.current > 1) --this.current;
    },
  },

  components: {
    SvgIcon,
    PhoneButton,
  },
};
</script>

<style lang="scss">
@import "main";
</style>