<template>
  <section class="programs">
    <div class="programs__container container">
      <h1 class="programs__headline">Программы</h1>

      <div class="programs__cards">
        <figure class="programs__card" v-for="(card, id) in cards" :key="id">
          <img :src="card.img" alt="Программа" />
          <figcaption class="programs__card-info">
            <div class="programs__card-headline">{{ card.headline }}</div>
            <ul class="rounded programs__ul">
              <li v-for="(li, key) in card.list" :key="key">{{ li }}</li>
            </ul>

            <div class="programs__card-price">{{ card.price }} рублей</div>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      cards: [
        {
          headline: "Комплексное обследование к детскому саду",
          price: "6500",
          img: '/img/program1.png',
          list: [
            "Осмотр специалистов: педиатр, ЛОР, невролог, хирург, окулист, психиатр (психолог), ортопед, уролог (для мальчиков), детский гинеколог (для девочек).",
            "Анализы: клинический анализ крови, общий анализ мочи, кровь на сахар, мазок на яйца глистов и энтеробиоз.",
            "Скидка 50% на консультацию логопеда"
          ]
        },

        {
          headline: "Комплексное обследование к школе",
          price: "8400",
          img: '/img/program2.jpg',
          list: [
            "Осмотр специалистов: педиатр, ЛОР, невролог, хирург, психиатр, уролог (для мальчиков), детский гинеколог (для девочек).",
            "Анализы: клинический анализ крови, общий анализ мочи, кровь на сахар, мазок на яйца глистов и энтеробиоз.",
            "Комплексное ультразвуковое исследование: щитовидной железы, репродуктивной системы, брюшной полости, почек, сердца.",
            "ЭКГ (электрокардиография)"
          ]
        }
      ]
    };
  }
};
</script>

<style lang="scss">
@import "programs";
</style>