@import '~@/scss/var';

.programs {
  font-size: 1rem;

  &__container {
    padding-left: 10px;
    padding-right: 10px;
  }


  &__headline {
    font-weight: bold;
    margin-bottom: 1em;

    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__cards {
    display: flex;
  }

  &__card {
    background: #f9f9f9;
    border-radius: 100px;
    overflow: hidden;
    display: flex;

    img {
      object-fit: cover;
    }

    ul li {
      margin-bottom: 1em;
    }


    &:nth-child(2) {

      img {
        max-width: 50%;
      }

      figcaption {
        flex: 1;
      }
    }

    &:nth-child(1) {
      flex-direction: column;
      margin-right: 2em;

      figcaption {
        padding-left: 3em;
        flex: 1;
      }

      .rounded {
        margin-bottom: 2em;
      }
    }
  }

  &__ul {
    @media (max-width: 500px) {
      font-size: 10px;
    }
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-bottom: 2em;
 
    @media (max-width: 500px) {
      padding: 20px;
    }
  }

  &__card-headline {
    margin-bottom: 1em;
    font-size: 27px;

    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  &__card-price {
    margin-top: auto;
    color: $orangecolor;
    font-weight: bold;
    font-size: 26px;
  }

  @media (max-width: 1100px) {
    &__card:nth-child(2) {
      flex-direction: column;

      img {
        max-width: 100%;
      }
    }
  }

  @media (max-width: 850px) {
    &__cards {
      flex-direction: column;
    }

    &__card {
      margin-bottom: 2em;
    }
  }
}