<template>
  <header class="header">
    <div class="header__container">
      <div class="left-section">
        <div class="header__logo">
          <router-link to="/">
            <img src="../assets/logo.svg" alt />
          </router-link>
        </div>

        <PhoneButton class="header__phone"><span class="townCode">+7 (4822)</span> 32 64 13</PhoneButton>
      </div>

      <div class="header__menu-btn" :class="{active: isMenuOpen}" @click="toggleMenu">
        <div class="line"></div>
      </div>

      <nav class="header__nav" :class="{mobActive: isMenuOpen}">
        <router-link @click.native='hideMenu' class="header__link" to="/about">О нас</router-link>
        <router-link @click.native='hideMenu'  class="header__link" to="/crew">Команда</router-link>
        <router-link @click.native='hideMenu'  class="header__link" to="/prices">Цены</router-link>
        <router-link @click.native='hideMenu'  class="header__link" to="/programs">Программы</router-link>
        <router-link @click.native='hideMenu'  class="header__link" to="/complexes">Комплексы</router-link>
        <router-link @click.native='hideMenu'  class="header__link" to="/contacts">Контакты</router-link>
      </nav>
    </div>
  </header>
</template>

<script>
import "vue-router";
import PhoneButton from "@/components/elements/PhoneButton.vue";

export default {
  data: function() {
    return {
      isMenuOpen: false
    };
  },

  methods: {
    openMenu() {
      if (!this.isMenuOpen) 
        this.isMenuOpen = true;
      window.scrollTo(0, 0);
      const body = document.body;
      if (!body.classList.contains('stopScroll')) 
        body.classList.add('stopScroll');
    },

    hideMenu() {
      if (this.isMenuOpen) 
        this.isMenuOpen = false;
      document.body.classList.remove('stopScroll');
    },

    toggleMenu() {
      if (this.isMenuOpen) 
        this.hideMenu() 
      else 
        this.openMenu();
    }
  },

  components: {
    PhoneButton
  },

};
</script>


<style lang='scss'>
@import "../scss/var";
@import "../scss/mixin";

body.stopScroll {
  overflow: hidden;
}

.left-section {
  display: flex;
  flex: 1 0 50%;
  align-items: center;
}

.header {
  overflow-x: hidden;

  &__menu-btn {
    display: none;
  }

  &__container {
    @include container;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    min-width: 140px;
    margin-right: 60px;
    flex: 0 1 260px;
  }

  &__nav {
    background: url("../assets/bg-menu.svg") no-repeat left top / cover;
    padding: 75px 73px;
    width: 50vw;
    flex: 1 0 auto;
    overflow: hidden;

    .router-link-active::after {
      width: 100%;
      right: 0;
      left: 0;
    }

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 25px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: auto;
        right: 0;
        height: 2px;
        background: white;
        width: 0;
        transition: 0.3s;
      }

      &:hover::after {
        right: auto;
        left: 0;
        width: 100%;
      }
    }
  }

  &__phone {
    margin-right: 20px;
  }

  @media (max-width: 1020px) {
    &__container {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 70px;
    }

    &__phone {
      background: $orangecolor;
    }

    &__menu-btn {
      --size: 55px;

      position: absolute;
      z-index: 3;
      right: 10px;
      top: calc(50% - var(--size) / 2);
      cursor: pointer;
      display: block;
      background: $lightbluecolor;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;

      .line {
        background: white;
        position: absolute;
        transition: 0.3s;

        --width: calc(var(--size) / 2.3);
        width: var(--width);
        --left: calc(var(--width) / 2);

        --height: 2px;
        height: var(--height);
        --top: calc(var(--height) / 2);

        top: calc(50% - var(--top));
        left: calc(50% - var(--left));

        &::after,
        &::before {
          content: "";
          width: var(--width);
          height: var(--height);
          background: white;
          position: absolute;
          z-index: 2;
          transition: 0.3s;
        }

        &::before {
          top: -8px;
        }

        &::after {
          bottom: -8px;
        }
      }

      &.active {
        background: transparent;

        .line {
          background-color: transparent;

          &::before {
            top: 0;
            transform: rotate(45deg);
          }

          &::after {
            bottom: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }

    &__link::after,
    .router-link-active::after {
      width: 0;
    }

    &__nav {
      display: none;

      &.mobActive {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        background: $orangecolor;
        z-index: 2;
        padding: 50px 25px;

        a {
          display: block;
          font-size: 18px;

          &:not(:last-child) {
            margin-bottom: 25px;
          }
        }
      }
    }

    &__logo {
      margin-right: 10px;
    }
  }

  @media (max-width: 550px) {
    &__phone {
      padding: 10px 15px;
      font-size: 12px !important;
    }

    &__menu-btn {
      --size: 45px;
    }
  }

  @media (max-width: 410px) {
    .townCode {
      display: none;
    }

    &__container {
      padding-left: 10px;
    }
  }
}
</style>
