<template>
  <aside class="sidebar">
    <ul>
      <li
        class="sidebar__li"
        v-for="(tab, index) in list"
        :key="index"
        :class="{active: tab.route == $route.params.special}"
      >
        <router-link :to="{name: routeName, params: {special: tab.route} }">
          {{ tab.name }}
        </router-link>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {
  props: ["list", "routeName"]
};
</script>

<style lang="scss">
@import "~@/scss/var";
@import "~@/scss/mixin";


.sidebar {
  width: 25%;
  flex-shrink: 0;
  border-right: 3px solid $lightbluecolor;
  margin-right: 70px;

  &__li {
    position: relative;
    right: -3px;
    transition: 0.3s;

    @media (max-width: 500px) {
      font-size: 12px;
    }

    a {
      @include button;
      display: block;
      padding: .5em 0;
      color: $lightbluecolor;

      @media (max-width: 500px) {
        font-size: 15px;
      }
    }

    &.active {
      border-right: 3px solid $textcolor;

      a {
        color: $textcolor;
      }
    }
  }

  @media(max-width: 900px) {
    margin-right: 20px;
  }
}
</style>