<template>
  <a class="tel" href="tel: +7 (482) 232 64 13">
    <svg-icon name="phone" />
    <slot></slot>
  </a>
</template>

<script>
import SvgIcon from "@/components/SvgIcon.vue";

export default {
  components: {
    SvgIcon
  }
};
</script>

<style lang='scss'>
@import '~@/scss/var';
@import '~@/scss/mixin';


.tel {
  @include button;
  background: $lightbluecolor;
  white-space: nowrap;

  svg {
    width: 15px;
    height: 25px;
    margin-right: 8px;
    vertical-align: middle;
    fill: white;
  }

  &:hover {
    background: $orangecolor;
  }
}
</style>
