<template>
  <router-link class="pricesButton" to="/prices">Цены</router-link>
</template>

<script>
export default {
  
}

</script>

<style lang='scss'>
  a.pricesButton {
    position: fixed;
    top: 50%;
    right: 0;
    margin: auto 0 auto auto;
    border-radius: 0 20px 20px 0;
    transition: .5s;

    background: linear-gradient(to left top, #f08976, #f6bb7b);
    background-size: 100% 200%;
    background-position: 0 0;

    &:hover {
      background-position: 0 100%;
      padding-left: 28px;
    }

    font-weight: bold;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 20px;

    &.router-link-active {
      transform: translateX(100%) rotate(180deg);
    }

    @media (max-width: 1020px) {
      display: none;
    }
  }
</style>
