<template>
  <div class="main-container">
    <Header />
    <router-view></router-view>
    <PricesButton />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import PricesButton from "./components/elements/PricesButton.vue";
import "./scss/base.scss";

export default {
  name: "app",

  components: {
    Header,
    PricesButton
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

@media (max-width: 1500px) {
  .pricesButton {
    display: none;
  }
}
</style>
