@import 'var';

@mixin button {
  display: inline-block;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}


@mixin container {
  max-width: $containerWidth;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $containerWidth + 20px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}