@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'var';

:root {
  font-size: 16px;
}

body {
  font-family: Roboto;
  color: $textcolor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}