@import 'var';
@import 'mixin';
@import 'typography';

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
}

html,
body,
#app,
.main-container {
  min-height: 100vh;
  max-width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  @include container;
}

button {
  @include button;
}

.btn {
  @include button;
}

ul {
  list-style: none;

  &.rounded {

    li {
      padding-left: 25px;
      position: relative;

      &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        padding: 3px;
        background-clip: content-box;
        border: 2px solid $orangecolor;
      }
    }
  }
}

.flex-item-half {
  flex-basis: 50%;
}

.social {
  a {
    display: block;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

a {
  text-decoration: none;
}